<div>
    <p>Map Filters</p>
    <label style="color: #00FF00;"><input [(ngModel)]="showHotels" type="checkbox" />
        Hotels</label>
    <label style="color: #0000FF;"><input [(ngModel)]="showStores" type="checkbox" />
        Stores</label>
    <label style="color: #00FFFF;"><input [(ngModel)]="showOthers" type="checkbox" />
        Others
    </label>
    <label style="color: #7F7F7F;"><input [(ngModel)]="showGMPins" type="checkbox" />
        Google
    </label>
    <label style="color: #7F0000;word-wrap:break-word"><input [(ngModel)]="showChains" type="checkbox" />
        Fuzzy Matches
    </label>
    <button (click)="modalService.open('modal-1')">Restaurant filters</button>

    <button (click)="modalService.open('modal-listView')">List view</button>

    <jw-modal id="modal-1">
        <h1>Slect restaurant type -</h1>
        <button (click)="selectNone()">Select None</button>
        <button (click)="selectAll()">Select All</button>
        <button (click)="selectComplete()">Close</button>
        <div *ngFor="let item of restaurants; let i=index; ">
            <label><input [(ngModel)]="item.Show" type="checkbox" />
                {{item.Name}}
            </label>
        </div>
    </jw-modal>
</div>