<div>
    <p>Map Filters</p>
    <label style="color: #00FF00;"><input [(ngModel)]="showHotels" type="checkbox" />
        Hotels</label>
    <label style="color: #0000FF;"><input [(ngModel)]="showStores" type="checkbox" />
        Stores</label>
    <label style="color: #00FFFF;"><input [(ngModel)]="showOthers" type="checkbox" />
        Others
    </label>
    <label style="color: #7F7F7F;"><input [(ngModel)]="showGMPins" type="checkbox" />
        Google
    </label>
    <label style="color: #7F0000;word-wrap:break-word"><input [(ngModel)]="showChains" type="checkbox" />
        Fuzzy Matches
    </label>
    <label style="color: #7F0000;word-wrap:break-word"><input [(ngModel)]="showTemporarilyClosed" type="checkbox" />
        Temporarily Closed
    </label>

    <!-- Add language selector -->
    <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
    </select>

    <button (click)="showRestaurantList()">Restaurant filters</button>

    <button (click)="showPinListView()">List view</button>
    <button hidden (click)="showGroupListView()">Groups</button>

    <jw-modal id="modal-1">
        <div class="modal-header">
            <div class="left-group">
                <h1>Select restaurant type -</h1>
                <button (click)="selectNone()">Select None</button>
                <button (click)="selectAll()">Select All</button>
            </div>
            <button (click)="selectComplete()">Close</button>
        </div>
        <div class="modal-content">
            <div class="grid-container">
                <div *ngFor="let item of restaurants; let i=index; ">
                    <label><input [(ngModel)]="item.Show" type="checkbox" />
                        {{item.Name}}
                    </label>
                </div>
            </div>
        </div>


    </jw-modal>
</div>