.pageHeader {
  display: none;
}

.pageHeaderShort {
  display: block;
}

.heading {
  margin: 0;
  padding: 0px;
  background-color: black;
  color: white;
}

p {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 0px;
  font-size: 0.8em;
  margin: 0;
}

@media (min-width:1024px) {
  .pageHeader {
    display: block;
  }

  .pageHeaderShort {
    display: none;
  }

  p {
    padding: 5px;
    font-size: 1.0em;
  }
}