<div id="map" class="map">
    <div class="pincount">
        <span *ngIf="selectedPins<MaxPinsOnScreen" [ngClass]="{'redtext': selectedPins==MaxPinsOnScreen}"> Pin count :
            {{selectedPins}}</span>
        <span *ngIf="selectedPins>=MaxPinsOnScreen" [ngClass]="{'flash': selectedPins>=MaxPinsOnScreen}"> Some pins
            hidden, zoom in</span>
    </div>

    <div *ngIf="loadingData" class="smallloading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>

</div>

<div *ngIf="loaded" class="loading-overlay">
    <div class="loading-content">
        <mat-spinner></mat-spinner>
        <p>Loading (this can be very slow on mobile connections)</p>
    </div>
</div>

<jw-modal id="modal-listView">
    <div class="modal-header">
        <h1>Restaurants</h1>
        <input #searchInput type="text" [(ngModel)]="searchText" class="search-input" placeholder="Search..." />
        <mat-spinner [diameter]="30" *ngIf="pinListLoading"></mat-spinner>
        <button (click)="closeModal()">Close</button>
    </div>
    <div class="modal-content">
        <div class="grid-container">
            <ng-container *ngFor="let item of pinsToExport; let i=index;">
                <div *ngIf="item.label.toLowerCase().includes(searchText.toLowerCase()) || item.description?.toLowerCase()?.includes(searchText.toLowerCase())"
                    class="grid-label">
                    <span class="grid-label-text">{{item.label}}</span>
                    <div class="label-content">
                        <img src="{{pinService.getUrl(item.restaurantType,item.label)}}" alt="." class="grid-image">
                    </div>
                    <button class="locate-button" (click)="locate(item)">Locate</button>
                </div>
                <div *ngIf="item.label.toLowerCase().includes(searchText.toLowerCase())|| item.description?.toLowerCase()?.includes(searchText.toLowerCase())"
                    class="grid-description">
                    {{item.description}}</div>
            </ng-container>
        </div>
    </div>
</jw-modal>

<jw-modal id="modal-groups">
    <div class="modal-header">
        <h1>Groups (in country)</h1>
        <mat-spinner [diameter]="30" *ngIf="pinListLoading"></mat-spinner>
        <button (click)="selectNoGroups()">None</button>
        <button (click)="selectAllGroups()">All</button>

        <button (click)="closeModal()">Close</button>
    </div>
    <div class="modal-content">
        <div class="group-grid-container">
            <ng-container *ngFor="let item of sortedGroups; let i=index;">
                <div *ngIf="!item.selected || item.localPins!=0" class="grid-description">
                    <input [(ngModel)]="item.selected" type="checkbox" (change)="groupSelected()" />
                    <a [href]="generateFBUrl(item.groupId)" (click)="groupClick(item.groupId)" target="_blank"
                        class="smallText"
                        [attr.data-count]="'(' + (item.localPins === -1 ? '?' : item.localPins) + '/' + item.totalPins + ')'">
                        <img class="groupimg" src="Groups\{{item.groupId}}.jpg" alt="FB" (error)="onImgError($event)" />
                        <span class="group-name">{{item.name}}</span>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</jw-modal>