<div id="map" class="map">
    <div class="pincount">
        <span *ngIf="selectedPins<400" [ngClass]="{'redtext': selectedPins==400}"> Pin count :
            {{selectedPins}}</span>
        <span *ngIf="selectedPins>=400" [ngClass]="{'redtext': selectedPins==400}"> Some pins hidden, zoom in</span>
    </div>

    <div class="downloadFile">
        <a [href]="fileUrl" download="file.csv">Download Selected Pins</a>
    </div>

    <div *ngIf="loadingData" class="smallloading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>

</div>

<div *ngIf="loaded" class="loading-overlay">
    <div class="loading-content">
        <mat-spinner></mat-spinner>
        <p>Loading</p>
    </div>
</div>

<jw-modal id="modal-listView">
    <div class="modal-header">
        <h1>Restaurants in view</h1>
        <button (click)="closeListView()">Close</button>
    </div>
    <div class="grid-container">
        <ng-container *ngFor="let item of pinsToExport; let i=index;">
            <div class="grid-label">
                <img src="{{pinService.getUrl(item.restaurantType,item.label)}}" alt="." class="grid-image">
                <span class="grid-label-text">{{item.label}}</span>
                <button class="locate-button" (click)="locate(item)">Locate</button>
            </div>
            <div class="grid-description">{{item.description}}</div>
        </ng-container>
    </div>
</jw-modal>