.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width:1024px) {
  .window {
    flex-direction: row;
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.2;
}