<div class="App">
  <app-navbar></app-navbar>
  <div class="window">
    <div class="master">
      <app-map class="page" [showHotels]="showOptions.ShowHotels" [showStores]="showOptions.ShowStores"
        [showOthers]="showOptions.ShowOthers" [showGMPins]="showOptions.ShowGMPins"
        [showChains]="showOptions.ShowChainPins" [showTemporarilyClosed]="showOptions.ShowTemporarilyClosed"
        [selectedLanguage]="showOptions.SelectedLanguage" [updateRestaurants]="restaurants"
        (selectedTopicGroupChange)="selectedTopicGroup=$event"></app-map>
    </div>

    <div class="detail">
      <app-mapfilters [showHotels]="showOptions.ShowHotels" [showStores]="showOptions.ShowStores"
        (optionsChange)="showOptions=$event" (restaurantChange)="restaurants=$event"
        (listViewOpenChange)="receiveMessage()"></app-mapfilters>
      <app-sidebar [selectedTopicGroup]="selectedTopicGroup"></app-sidebar>
    </div>
  </div>
</div>