<div *ngIf="selectedTopicGroup">
    <h2><img hidden *ngIf="!selectedTopicGroup.isGF" class="xgfimage" src="GFQ.png" alt="" />
        <img hidden *ngIf="selectedTopicGroup.isGF" class="xgfimage" src="GFT.png" alt="" />
        {{selectedTopicGroup.label}}<span class="tc" *ngIf="selectedTopicGroup.isTC">(TC)</span>
    </h2>
    <p>{{selectedTopicGroup.restaurantType}}</p>
    <div class="spinner-container" *ngIf="!hasSummary()">
        <mat-spinner [diameter]="30"></mat-spinner>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

    </div>
    <p>{{selectedTopicGroup.stars}}</p>
    <p>{{selectedTopicGroup.price}}</p>
    <a *ngIf="selectedTopicGroup.mapsLink" [href]="selectedTopicGroup.mapsLink"
        (click)="mapLinkClick(selectedTopicGroup.mapsLink)" target="_blank">Google Maps</a>
    <p *ngIf="hasSummary()" md-highlight-text="summary()" [innerHtml]="summary() | highlight: selectedTopicGroup.label">
    </p>
    <p><b>If you find the pin useful, you can click and like the FB posts used to create this info -</b></p>
    <div *ngFor="let item of selectedTopicGroup.topics; let i=index; " class="fb-container">
        <a *ngIf="!!item.shortTitle && item.shortTitle.length>0" [href]="item.facebookUrl"
            (click)="linkClick(item.facebookUrl)" target="_blank" class="smallText fb-link">
            <img src="FB.png" alt="Facebook" />
            <div>
                <div>{{item.shortTitle}}</div>
                <div>{{dateOnly(item.postCreated)}}</div>
            </div>
        </a>
        <a *ngIf="!item.shortTitle" [href]="item.facebookUrl" (click)="linkClick(item.facebookUrl)" target="_blank"
            class="smallText">
            <img src="FB.png" alt="Facebook" />Facebook</a>
    </div>

</div>
<div *ngIf="!selectedTopicGroup">
    <h2>Welcome</h2>
    <p>Please join my facebook group for more tips and info.</p>
    <a href="https://www.facebook.com/groups/769136475365475">FB group for the App</a>
    <p>Remember this information may not be 100% accurate and up to date, <strong>always confirm the details with
            restaurant staff.</strong></p>
    <p>Please scroll the map and select a pin.</p>
    <p>There will also be links to google maps and Facebook groups.</p>
    <p>Some groups are private so please join the group and share useful information for others.</p>
    <p>If you find this information useful, please post your own reviews in your favorite GF review group</p>
    <a href="privacypolicy.html">Privacy Policy</a>
</div>