<div *ngIf="selectedTopicGroup">
    <h2><img hidden *ngIf="!selectedTopicGroup.isGF" class="xgfimage" src="GFQ.png" alt="" />
        <img hidden *ngIf="selectedTopicGroup.isGF" class="xgfimage" src="GFT.png" alt="" />
        {{selectedTopicGroup.label}}<span class="tc" *ngIf="selectedTopicGroup.isTC">(TC)</span>
    </h2>
    <p>{{selectedTopicGroup.restaurantType}} {{removeStars(selectedTopicGroup)}}<img src="star.png"
            alt="" />{{selectedTopicGroup.price}}({{selectedTopicGroup.rc}})</p>
    <div class="spinner-container" *ngIf="!hasSummary()">
        <mat-spinner [diameter]="30"></mat-spinner>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

    </div>
    <a *ngIf="selectedTopicGroup.mapsLink" [href]="selectedTopicGroup.mapsLink"
        (click)="mapLinkClick(selectedTopicGroup.mapsLink)" target="_blank">Google Maps</a>
    <p><b>Conversations related to this pin (click) -</b></p>
    <div *ngFor="let item of selectedTopicGroup.topics; let i=index; " class="fb-container">
        <div *ngIf="item.selected" class="grid-container">
            <a *ngIf="!!item.shortTitle && item.shortTitle.length>0" [href]="buildFbUrl(item)"
                (click)="linkClick(buildFbUrl(item))" target="_blank" class="smallText fb-link">
                <img src="Groups\{{item.gId}}.jpg" alt="FB" (error)="onImgError($event)" />
                <div>
                    <div>{{item.shortTitle}}</div>
                    <div>{{dateOnly(item.postCreated)}}</div>
                </div>
            </a>
            <a *ngIf="!item.shortTitle" [href]="buildFbUrl(item)" (click)="linkClick(buildFbUrl(item))" target="_blank"
                class="smallText">
                <img src="Groups\{{item.gId}}.jpg" alt="FB" (error)="onImgError($event)" />Facebook</a>
        </div>
    </div>
    <p *ngIf="hasSummary()" md-highlight-text="summary()" [innerHtml]="summary() | highlight: selectedTopicGroup.label">
    </p>

</div>
<div *ngIf="!selectedTopicGroup">
    <p>Welcome, please join my facebook group for more tips and info here-> <a
            href="https://www.facebook.com/groups/769136475365475">FB
            group for the App</a></p>

    <p>Remember this information may not be 100% accurate and up to date, <strong>always confirm the details with
            restaurant staff.</strong></p>
    <p>If you find this information useful, please post your own reviews in your favorite Gluten Free/Coeliac Facebook
        group</p>
</div>
<div *ngIf="!selectedTopicGroup && _country=='Germany'">
    <h4>Useful links -
        <p></p>
        <a target="_blank" href="https://www.zoeliakie-austausch.de/">Zöliakie Austausch - die Community für alle die
            sicher glutenfrei
            Leben.</a>
    </h4>
</div>
<div *ngIf="!selectedTopicGroup && _country=='Singapore'">
    <h4>Useful links -
        <p></p>
        <a target=" _blank" href="https://internationalglutenfree.com/">Gluten-Free Resources for Singapore</a>
    </h4>
</div>
<div *ngIf="!selectedTopicGroup && _country=='Slovakia'">
    <h4>Useful links -
        <p></p>
        <a target=" _blank" href="https://www.celiakia.sk/kde-sa-najete">celiakia</a>
    </h4>
</div>
<div *ngIf="!selectedTopicGroup && _country=='Italy'">
    <h4>Useful links -
        <p></p>
        <a target=" _blank" href="https://www.celiachia.it/">Associazlone Italiana Celiachia</a>
    </h4>
</div>
<div *ngIf="!selectedTopicGroup && _country=='Canada'">
    <h4>Useful links -
        <p></p>
        <a target=" _blank" href="https://theceliacscene.com/location/canada/british-columbia/port-alberni/">The Celiac
            Scene - Port Alberni</a>
    </h4>
</div>
<div *ngIf="!selectedTopicGroup && _country=='United States48'">
    <h4>Useful links -
        <p></p>
        <a target=" _blank" href="https://maps.app.goo.gl/nkzbyM5YgaNeRCZYA?g_st=ac">Ophelia GF Map
        </a>
    </h4>
</div>

<div *ngIf="!selectedTopicGroup && _selectedCountryMeta && _selectedCountryMeta.SpokenLanguages.length>0">
    <h4>Coeliac Gluten Free Restaurant Card -</h4>
    <div *ngFor="let item of _selectedCountryMeta?.SpokenLanguages; let i=index; ">
        <a target=" _blank" href="https://www.celiactravel.com/cards/{{item}}/">{{item}}</a>
    </div>
</div>
<div *ngIf="!selectedTopicGroup" style="text-align: left;margin: 10px;font-size: smaller;">
    <br>
    <div>Dales Gluten Free Map - {{_country}} - {{_selectedCountryMeta?.GlutenFree}} /
        {{_selectedCountryMeta?.Coeliac}}</div>
    <a style="" href="privacypolicy.html">Privacy Policy</a>
</div>