/* You can add global styles to this file, and also import other style files */
@import '../node_modules/maplibre-gl/dist/maplibre-gl.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Pin highlight styling for selected pins */
.pinHighlight1 {
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, 1)) drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  z-index: 999 !important;
}

.pinHighlight {
  filter: drop-shadow(0 0 5px rgba(0, 0, 255, 1)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.9));
}